.container {
    width: 100%;
    height: calc(75rem - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.5rem;


}

.loading {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuContainer {
    width: 80%;
    height: 40px;
    margin: 5rem 0 1rem 0;

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
            width: 18rem;
        }
    }
}