.container {
    max-width: 1080px;
    height: 100vh;
    margin: 4rem auto;
    padding: 0.2rem;
    display: flex;
    justify-content: space-around;



    h1 {
        color: var(--color-text);
    }

    .cardContainerQuickly {
        position: relative;
        border-radius: 0.4rem;
        background-color: #d3d3d3;
        background-image: url("../../../public/background-card-quick.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 65vh;
        width: 40%;
        transition: all 0.5s;

        &:hover {
            transform: scale(1.1);
        }

    }

    .cardContainerStandard {
        position: relative;
        border-radius: 0.4rem;
        background-color: #d3d3d3;
        background-image: url("../../../public/background-card-standard.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 65vh;
        width: 40%;
        transition: all 0.5s;

        &:hover {
            transform: scale(1.1);
        }

    }

    .cardContainer {
        position: absolute;
        border-radius: 0.4rem;
        content: "";
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #2727278f;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        cursor: pointer;

        .cardDesc {
            width: 50%;
            text-align: center;
        }

    }

}