@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Holtwood+One+SC&family=IM+Fell+English+SC&family=MedievalSharp&display=swap');

/*
font-family: "IM Fell English SC", serif;
font-family: "MedievalSharp", cursive;
font-family: "Cinzel Decorative", serif;
font-family: "EB Garamond", serif;
font-family: "Holtwood One SC", serif;

*/
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-medievalSharp);
  background-color: var(--backgroundColor);

}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-text);
  border-radius: 0.5rem;

}

:root {
  --color-text: #252525;
  --color-placeholder: #8a8a8a;
  --button: #3fffa3;
  --backgroundBlur: rgba(255, 255, 255, 0.3);
  --backgroundColor: #e2e2e2;
  --backgroundOpac: rgba(71, 71, 71, 0.4);
  --inputBackground: #bcbcbc;
  --backgroundTextArea: #b3b3b3;

  /*opção de paleta 1*/
  --preto: #2d3136;
  --vermelho-900: #b23a48;
  --cinza-300: #e5e5e5;
  --ouro: #ffd700;
  --verde-900: #006400;

  /*opção de paleta 2*/
  --indigo-900: #240046;
  --azul: #007db8;
  --verde-600: #00a878;
  --amarelo-300: #f5e663;
  --vermelho: #ff7a5a;
  --vermelho-100: #ffa791;

  /*opção de paleta 3*/
  --borgonha: #6a0136;
  --amarelo: #ffb703;
  --vermelhoLaranja: #ff5733;
  --verdeMenta: #00c9a7;
  --azul-700: #0081a7;

  /*fontes*/
  --font-Imfell: "IM Fell English SC", serif;
  --font-medievalSharp: "MedievalSharp", cursive;
  --font-Cinzel: "Cinzel Decorative", serif;
  --font-EB: "EB Garamond", serif;
  --font-holtwood: "Holtwood One SC", serif;



}

h1 {
  color: var(--color-text);

}

h2 {
  color: var(--color-placeholder);
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #e9e9e9;
    --color-placeholder: #c7c7c7;
    --backgroundColor: #1d1d2e;
    --inputBackground: #302ec5;
    --backgroundTextArea: #464646;

  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}