.info {
    width: 100%;
    border: 3px solid var(--color-text);
    border-radius: 0.4rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .racaContainer {
        display: flex;
        flex-direction: column;
        width: 100%;

        .raca {
            display: flex;
            justify-content: space-around;
            margin-top: 0.5rem;

            .subraca {

                p {
                    font-size: 0.8rem;
                    font-style: italic;
                    padding: 5px 0;
                }
            }
        }

        .traits {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1rem;
            width: 100%;


            .raceTraits {
                display: flex;
                justify-content: center;
                align-items: flex-start;

                // div+div {
                //     margin: 0.5rem 0;
                // }

                .raceContainer {
                    margin: 0 1rem;
                    text-align: justify;

                    p {
                        font-size: 0.8rem;
                    }

                    span {
                        font-style: italic;
                        font-size: 0.8rem;
                        text-align: justify;
                    }

                    .raceInfo {
                        padding: 0.5rem 2rem 0.5rem 0;
                    }

                    .proficiencyContainer {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding-right: 2rem;

                        .proficiencyItem {
                            margin: 0.2rem 0 0 0.5rem;
                        }

                        .proficiencyOptions {
                            font-size: 0.8rem;
                            font-style: italic;
                            padding: 1rem 0 0 0.5rem;

                        }
                    }

                    .traitsContainer {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;

                        span {
                            font-size: 0.9rem;
                            font-style: italic;
                            text-align: justify;
                        }
                    }

                }

            }
        }

        .languagesTraits {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            margin-top: 1.5rem;

            p {
                font-size: 0.8rem;
                font-style: italic;
                text-align: justify;
            }
        }
    }
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}