.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--cinza-300);



}


.containerFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 99;
}

.audioControl {
    display: flex;
}

.buttonPlayPause {
    border: none;
    background: transparent;
    margin: 0 1rem;
    transition: all 0.5s;

    &:hover {
        transform: scale(1.2);
    }
}

.volume {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background-color: var(--amarelo);
    border-radius: 0.5rem;
    outline: none;
    transition: all 0.5s;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background-color: #007bff;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
            transform: scale(1.2);
        }
    }

    &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background-color: #007bff;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
            transform: scale(1.2);
        }
    }

    &:hover {
        transform: scale(1.1);
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    background-color: var(--backgroundFooter);
    padding: 10rem;
    position: relative;

    ul {
        list-style: none;
    }

    button {
        background: none;
        border: none;
        transition: all 0.5s;
        margin: 0 0.5rem;
        color: var(--cinza-300);

        &:hover {
            transform: scale(1.2);
            color: var(--vermelhoLaranja);
        }

    }

    .informacao {
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .copyRight {
        position: absolute;
        bottom: 0;
        right: 0;
    }

}