.attributeContainer {
    display: flex;
    flex-direction: column;

    .statusContainer {
        display: flex;
        background-color: #fff;
        padding: 1rem;

        .status {
            padding: 0 1rem;
        }
    }


}

.totalContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .total {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

.select {
    background-color: #fff;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4rem 1rem;
    

}

.form {
    padding-top: 4rem;

    .formItem {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 6rem 0;

        .calculationContainer {
            display: flex;
            justify-content: space-between;



            .attributesContainer {
                margin: 4rem 0.5rem 1rem 0.5rem;
                display: flex;
                flex-direction: column;
                transition: all 0.5s;

                &:hover {
                    transform: scale(1.1);
                }


                .nameContainer {
                    padding: 1rem 1rem 1rem 0;
                    text-align: center;
                }

                .valueContainer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 0.4rem;
                    background-color: var(--verde-900);
                    height: 40px;
                    margin: 0.3rem 0;




                    p {
                        padding: 0 2rem;
                    }

                }

            }


        }
    }
}